<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New App</title>
    <link rel="stylesheet" href="static/CSS/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body>

    <script type="text/javascript"
        src="https://assets.website-files.com/5e2755779d8b8ea1d6373797/5ea88e92dce9b4b66f165490_zoom.txt"></script>
    <script>
        jQuery(function () {

            if (!$.fn.imagezoomsl) {

                $('.msg').show();
                return;
            }
            else $('.msg').hide();

            // plugin initialization
            $('.image').imagezoomsl({

                innerzoommagnifier: true,
                classmagnifier: "round-loope",
                magnifiersize: [150, 150],
                // disables the scrolling of the document with the mouse wheel when the cursor is over the image
                disablewheel: false
            });
        });
    </script>
    <div class="heading">
        <h2>DEM Super Resolution System</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 mx auto mt-5 text-center">
                <h3 class="mb-5">Insert the Low Resolution DEM</h3>

                <form method="post" action="/" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <input class="form-control" type="file" name="file" autocomplete="off" required>
                        </div>
                        <div class="col-auto">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
            </div>
            </form>
            <div class="grid mt-5" style="display:flex; justify-content: space-around;">

                <div class="g-col-4">
                    {% if filename %}
                    <h3 mb-5>Low Resolution DEM</h3>
                    <img src=" static/uploads/trial.png " style="width : 400px;">
                    {% endif %}
                </div>

                <div class="g-col-4">
                    {% if filename %}
                    <h3 mb-5>High Resolution DEM</h3>
                    <img class="image" src="static/uploads/out.png" style="width : 400px;">
                    {% endif %}
                </div>

                <div class="g-col-4">
                    {% if filename %}
                    <h3 mb-5>High Resolution DEM</h3>
                    <img class="image" src="static/uploads/out.png" style="width : 400px;">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>